AppClienteWS/web/WEB-INF/wsdl/localhost_8080/CentralHospital/WsGestionUsuarios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="actualizar" type="tns:actualizar"/>

<xs:element name="actualizarResponse" type="tns:actualizarResponse"/>

<xs:element name="consultaPaciente" type="tns:consultaPaciente"/>

<xs:element name="consultaPacienteResponse" type="tns:consultaPacienteResponse"/>

<xs:element name="historialEntreFechas" type="tns:historialEntreFechas"/>

<xs:element name="historialEntreFechasResponse" type="tns:historialEntreFechasResponse"/>

<xs:element name="hospital_actualizacion" type="tns:hospital_actualizacion"/>

<xs:element name="hospital_actualizacionResponse" type="tns:hospital_actualizacionResponse"/>

<xs:element name="llamar_automatico" type="tns:llamar_automatico"/>

<xs:element name="validarMedico" type="tns:validarMedico"/>

<xs:element name="validarMedicoResponse" type="tns:validarMedicoResponse"/>

<xs:complexType name="actualizar">
<xs:sequence>
<xs:element name="timeout" type="xs:string" minOccurs="0"/>
<xs:element name="hospital" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarResponse">
<xs:sequence>
<xs:element name="return" type="tns:actualizacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizacion">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="hospital" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="llamar_automatico">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="validarMedico">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="hospital" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarMedicoResponse">
<xs:sequence>
<xs:element name="return" type="tns:medico" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="medico">
<xs:sequence>
<xs:element name="enviado" type="xs:string" minOccurs="0"/>
<xs:element name="hospital" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="historialEntreFechas">
<xs:sequence>
<xs:element name="fechaInicio" type="xs:string" minOccurs="0"/>
<xs:element name="fechaFin" type="xs:string" minOccurs="0"/>
<xs:element name="hospital" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="historialEntreFechasResponse">
<xs:sequence>
<xs:element name="return" type="tns:historialClinico" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="historialClinico">
<xs:sequence>
<xs:element name="diagnostico" type="xs:string" minOccurs="0"/>
<xs:element name="enfermedad" type="xs:string" minOccurs="0"/>
<xs:element name="enviado" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="hospital" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="medico_id" type="xs:int" minOccurs="0"/>
<xs:element name="paciente_id" type="xs:int" minOccurs="0"/>
<xs:element name="sintomas" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaPaciente">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="medico" type="tns:medico" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultaPacienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:historialClinico" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hospital_actualizacion">
<xs:sequence>
<xs:element name="hospital" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hospital_actualizacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:actualizacionHospital" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizacionHospital">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>